name: pre-commit
permissions:
  contents: read
on:
  push:
    branches:
    - main
  pull_request:
    types:
    - opened
    - edited
    - synchronize
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.12'
        cache: 'pip' # caching pip dependencies
    - run: pip install pre-commit
    - uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
      env:
        cache-name: pre-commit
      with:
        path: ~/.cache/pre-commit # caching pre-commit environments
        key: ${{ env.cache-name }}-${{ hashFiles('.pre-commit-config.yaml','~/.cache/pre-commit/*') }} # the key is to cache both the pre-commit package and dependent hooks
    - run: pre-commit run --show-diff-on-failure --color=always --all-files
